@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none; /* Safari, Chrome, and Opera */
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
